<%- include('./partials/head.ejs') %>

  <main>

    <section>
      <% artList.forEach(artobject=> { %>

        <img src="<%=artobject.webImage.url %>" alt="<%=artobject.title %>">

        <% }); %>

    </section>

    <section>
      <h1>Artist Guesser</h1>
      <%= headTwo %>
        <ul id='messages'></ul>
        <form>
          <input id='name' type='text' placeholder='naam'>
          <input id='message' type="text" placeholder='bericht'>
          <button type='submit'>Send</button>
        </form>
    </section>
  </main>

  <%- include('./partials/footer.ejs') %>